<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>IISWebDeploy</PublishProvider>

    <!-- Server Web Deploy -->
    <MSDeployServiceURL>https://deploy.giatocnguyenhuu.vn:12178/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>OpenRag</DeployIisAppPath>
    <UserName>INSTANCE-078585\Administrator</UserName>

    <!-- Build -->
    <Configuration>Release</Configuration>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>

    <!-- Deploy -->
    <AllowUntrustedCertificate>true</AllowUntrustedCertificate>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <EnableMSDeployAppOffline>true</EnableMSDeployAppOffline>
    <EnvironmentName>Production</EnvironmentName>
  </PropertyGroup>

  <!-- Không xoá các thư mục này trên server khi deploy -->
  <ItemGroup>
    <MsDeploySkipRules Include="SkipAppData">
      <SkipAction>Delete</SkipAction>
      <ObjectName>dirPath</ObjectName>
      <AbsolutePath>\\AppData</AbsolutePath>
    </MsDeploySkipRules>
    <MsDeploySkipRules Include="SkipLogs">
      <SkipAction>Delete</SkipAction>
      <ObjectName>dirPath</ObjectName>
      <AbsolutePath>\\logs</AbsolutePath>
    </MsDeploySkipRules>
  </ItemGroup>
</Project>
